---
const { postName } = Astro.props;
import "../../../../styles/globals.css";
---

<html lang="en">
  <head id="Head">
    <link rel="shortcut icon" href=`favicon.png` type="image/x-icon" />
    <title>MyferIsADev - Blog - {postName}</title>
  </head>
  <body>
    <div>
      <div id="post">
        <slot />
      </div>
    </div>
  </body>
</html>
