---
import { Button } from "@/components/ui/button";
import { Ellipsis } from "lucide-react";
---

<header
  class="bg-white/80 fixed top-0 left-0 right-0 shadow-sm z-20"
  style="backdrop-filter: blur(10px);"
>
  <nav class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a
          href="/"
          class="text-2xl font-bold text-primary flex flex-row hover:rotate-45 transition-all duration-300"
        >
          <img src="favicon.png" alt="Waving Hand" width="35" />
        </a>
      </div>
      <div class="flex items-center space-x-4">
        <a
          href="/"
          class="text-slate-400 hover:text-primary px-3 py-2 rounded-md text-sm font-medium"
        >
          Home
        </a>
        <a
          href="/blog"
          class="text-slate-400 hover:text-primary px-3 py-2 rounded-md text-sm font-medium"
        >
          Blog
        </a>
        <a
          href="/open-source"
          target="_blank"
          class="text-slate-400 hover:text-primary px-3 py-2 rounded-md text-sm font-medium"
        >
          Open-source
        </a>
        <a
          href="/#projects"
          class="text-slate-400 hover:text-primary px-3 py-2 rounded-md text-sm font-medium"
        >
          My Work
        </a>
        <a
          href="/#contact"
          class="text-slate-400 pr-12 hover:text-primary px-3 py-2 rounded-md text-sm font-medium"
        >
          Contact me
        </a>
        <div>
          <Button variant="ghost">
            <Ellipsis />
          </Button>
        </div>
      </div>
    </div>
  </nav>
</header>
