---
import BlogLayout from "./lib/layout/BlogLayout.astro";
import Nav from "@/components/layout/ui/Nav.astro";
import Post from "./lib/components/Post.tsx";

import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";

import * as Lucide from "lucide-react";
---

<BlogLayout TitleName="MyferIsADev - Blog">
  <Nav />
  <main class="mt-40 text-center">
    <div>
      <h1
        class="text-3xl font-bold tracking-tighter md:mt-5 sm:text-5xl xl:text-6xl/none"
      >
        My Blog
      </h1>
      <div class="pt-12">
        <Button variant={"default"} className="mr-2">
          Browse posts <Lucide.ArrowRight className="size-4 ml-1" />
        </Button>
        <Button variant={"outline"}>
          Subscribe to newsletter <Lucide.MailPlus className="size-4 ml-1" />
        </Button>
      </div>
      <Separator className="w-1/12 mx-auto my-12" />
      <div id="recentposts">
        <h2
          class="mt-10 mb-2 scroll-m-20 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
        >
          Recent Posts
        </h2>
        <br />
        <Post
          title="Welcome to my blog!"
          authorName="MyferIsADev"
          date="9/17/2024"
          excerpt="A warm welcome & greeting for everybody visiting my blog"
          coverImage="/welcome-to-my-blog.jpg"
        />
      </div>
    </div>
  </main>
</BlogLayout>
