@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 74, 222, 128;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.font-pixel {
  font-family: var(--font-press-start-2p);
  text-shadow: 2px 2px 0 #000;
  letter-spacing: -1px;
}

.font-mono {
  font-family: var(--font-vt323);
}

/* Pixelated border effect */
.pixelated-border {
  box-shadow: 0 0 0 2px #4ade80, 0 0 0 4px #000, 0 0 0 6px #4ade80;
}

