@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.geist-mono {
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.geist-sans {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    @apply geist-mono;
    @apply font-light;
  }
  h1,
  button {
    @apply font-normal;
  }
}
@layer base {
  .geist {
    @apply geist-sans;
  }
}
